{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Genre</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Portable</th>
                <th>Email</th>
                <th>DateNaissance</th>
                <th>Profession</th>
                <th>AntecedentMedicaux</th>
                <th>NumeroSecu</th>
                <th>MedecinTraitant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenom }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.genre }}</td>
                <td>{{ patient.adresse }}</td>
                <td>{{ patient.telephone }}</td>
                <td>{{ patient.portable }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.dateNaissance ? patient.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ patient.profession }}</td>
                <td>{{ patient.antecedentMedicaux }}</td>
                <td>{{ patient.numeroSecu }}</td>
                <td>{{ patient.medecinTraitant }}</td>
                <td>
                    <a href="{{ path('app_patient_controller_crud_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('app_patient_controller_crud_edit', {'id': patient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_patient_controller_crud_new') }}">Create new</a>
{% endblock %}
