{% extends 'base.html.twig' %}

{% block title %}Praticien{% endblock %}

{% block body %}
    <h1>Praticien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ praticien.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ praticien.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ praticien.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ praticien.telephone }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ praticien.specialite }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ praticien.adresse }}</td>
            </tr>
            <tr>
                <th>NumeroCabinet</th>
                <td>{{ praticien.numeroCabinet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_praticien_controller_crud_index') }}">back to list</a>

    <a href="{{ path('app_praticien_controller_crud_edit', {'id': praticien.id}) }}">edit</a>

    {{ include('praticien_controller_crud/_delete_form.html.twig') }}
{% endblock %}
